= t('.check_number', check_id: @check.id)
= t('.repository', repository_name: @check.repository.full_name)
= t('.crash_msg', error: @error)
= link_to t(:show), repository_check_url(@check.repository_id, @check)
